.bgHome {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../assets/images/construction-silhouette.jpg);
    background-position: center 20%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  
}

.image {
    max-width: 200px;
}
.heading{
    text-shadow: -2px 0px 13px rgba(246, 245, 245, 0.6);
}

.Socialicons li {
    list-style: none;
}

.Socialicons li {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: #1c1b1b;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.Socialicons i {
    color: white;
}

.Socialicons li:hover {
    border: 3px solid #0d0b09;
    background-color: #ffffff;

}

.Socialicons li:hover i {
    color: #1c1b1b;
}

.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-85:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.button-85:hover {
    transform: scale(.96);
    -webkit-transform: scale(.96);
    -moz-transform: scale(.96);
    -ms-transform: scale(.96);
    -o-transform: scale(.96);
    background: #b4b1b1ee;
}